.account-credentials .ux-input-component {
  background-color: var(--neutral-fill-rest);
  color: var(--neutral-foreground-hint);
}

.account-credentials .ux-input-component--filled:hover:not(.ux-input-component--disabled):not([disabled]):not([readonly]) {
  background-color: var(--neutral-fill-rest);
  color: var(--neutral-foreground-hint);
}
