.building-indicator:not(.building-indicator__empty) {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
