.requesting-indicator {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
}


/* Fix for Safari-mobile in gettingStarted.Email */
body, button, input, optgroup, select, textarea {
  -webkit-overflow-scrolling: auto !important;
  }
/* Fix for Old Getting-started module */
getting-started .ux-button--raised,getting-started .ux-button--flat,getting-started .ux-button--fab {
    background-color: var(--aurelia-ux--design-primary-dark) !important;
}

body {
  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);
}

/* Fix Style ux-button */
.ux-button--accent > .ux-button--outline {
  border-color: var(--aurelia-ux--design-accent);
  color: var(--aurelia-ux--design-accent);
}

:root {
  --spacing-unit: calc(var(--design-unit) * 2);
  --spacing-unit-lg: calc(var(--spacing-unit) * 2);
  --three-canvas-background: #000;
}



fast-dialog {
  --dialog-height: auto;
  --dialog-width: auto;
  color: var(--neutral-foreground-rest);
}

fast-dialog::part(control) {
  min-width: 300px;
}

fast-dialog .dialog-head {
  display: grid;
  grid-gap: calc(var(--spacing-unit-lg) * 1px);
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0 calc(var(--spacing-unit) * 1px);
}

fast-dialog .dialog-foot {
  display: grid;
  grid-gap: calc(var(--spacing-unit-lg) * 1px);
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: calc(var(--spacing-unit) * 1px);
}

fast-dialog .dialog-foot > * {
  display: flex;
  gap: calc(var(--spacing-unit) * 1px);
}

fast-dialog .dialog-content {
  padding: calc(var(--spacing-unit) * 1px);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

fast-badge {
  --badge-fill-primary: var(--accent-fill-rest);
  --badge-fill-secondary: var(--accent-foreground-rest);
  --badge-fill-transparent: transparent;
  --badge-color-secondary: var(--foreground-on-accent-rest);
  --badge-color-primary: var(--foreground-on-accent-rest);
}
